<nav xmlns:th="http://www.thymeleaf.org"
     class="navbar navbar-expand-lg bg-primary navbar-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--                <li th:if="${user_id != null}" class="nav-item">-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/all}">List of Users</a>
                </li>
<!--                <li th:if="${user_id != null}" class="nav-item">-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/states}">Manage States</a>
<!--                </li>-->
            </ul>
            <span th:unless="${user_id != null}" class="navbar-text">
                Hello Guest!
            </span>
        </div>
<!--        <span th:unless="${user_id != null}"><a class="nav-link" th:href="@{/login}">Login</a></span>-->
<!--        <form th:if="${user_id != null}" th:action="@{/logout}" method="post" style="display: inline-block">-->
<!--            <input type="submit" class="btn text-white" value="Logout">-->
<!--        </form>-->
    </div>
</nav>
